*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
}
.btn{
    padding: 10px 20px;
    background-color: rgb(236, 233, 233);
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgb(233, 231, 231);

}
.btn:hover{
    background-color: rgb(202, 199, 199);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.active{
    /* border: 1px solid black; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(236, 233, 233);
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgb(236, 233, 233);
}